In [1]:
import pandas as pd
df = pd.read_csv(r'C:\Users\THINKPAD E15\OneDrive\Desktop\DA\dataset_1_202511172236.csv')

In [2]:
df # VS in sql select* from dataset_1 d

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y,row_count
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,0,0,0,1,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,0,0,0,1,0,2
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,1,3
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,0,4
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12679,Home,Partner,Rainy,55,6PM,Carry out & Take away,1d,Male,26,Single,...,1~3,4~8,1~3,1,0,0,1,0,1,12680
12680,Work,Alone,Rainy,55,7AM,Carry out & Take away,1d,Male,26,Single,...,1~3,4~8,1~3,1,0,0,0,1,1,12681
12681,Work,Alone,Snowy,30,7AM,Coffee House,1d,Male,26,Single,...,1~3,4~8,1~3,1,0,0,1,0,0,12682
12682,Work,Alone,Snowy,30,7AM,Bar,1d,Male,26,Single,...,1~3,4~8,1~3,1,1,1,0,1,0,12683
12683,Work,Alone,Sunny,80,7AM,Restaurant(20-50),2h,Male,26,Single,...,1~3,4~8,1~3,1,0,0,1,0,0,12684

In [3]:
df[['weather','temperature']] #how to fetch two columns in python
#Vs in sql SELECT weather, temperature FROM dataset_1 d

      weather  temperature
0       Sunny           55
1       Sunny           80
2       Sunny           80
3       Sunny           80
4       Sunny           80
...       ...          ...
12679   Rainy           55
12680   Rainy           55
12681   Snowy           30
12682   Snowy           30
12683   Sunny           80

[12684 rows x 2 columns]

In [4]:
df.head(10) #How to print 10 columns#VS in sql SELECT * FROM dataset_1 d LIMIT  10;

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y,row_count
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,0,0,0,1,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,0,0,0,1,0,2
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,1,3
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,0,4
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,0,5
5,No Urgent Place,Friend(s),Sunny,80,6PM,Restaurant(<20),2h,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,1,6
6,No Urgent Place,Friend(s),Sunny,55,2PM,Carry out & Take away,1d,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,1,7
7,No Urgent Place,Kid(s),Sunny,80,10AM,Restaurant(<20),2h,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,1,8
8,No Urgent Place,Kid(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,1,9
9,No Urgent Place,Kid(s),Sunny,80,10AM,Bar,1d,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,0,10

In [5]:
df['passanger'].drop_duplicates() #SELECT DISTINCT passanger FROM dataset_1 d

0          Alone
1      Friend(s)
7         Kid(s)
222      Partner
Name: passanger, dtype: object

In [6]:
df['passanger'].unique()#SELECT DISTINCT passanger FROM dataset_1 d

array(['Alone', 'Friend(s)', 'Kid(s)', 'Partner'], dtype=object)

In [7]:
df.groupby('age')[['passanger','time','gender']].count() #SELECT passanger,time,gender FROM dataset_1 d GROUP by d.age

         passanger  time  gender
age
21            2653  2653    2653
26            2559  2559    2559
31            2039  2039    2039
36            1319  1319    1319
41            1093  1093    1093
46             686   686     686
50plus        1788  1788    1788
below21        547   547     547

In [8]:
df.columns

Index(['destination', 'passanger', 'weather', 'temperature', 'time', 'coupon',
       'expiration', 'gender', 'age', 'maritalStatus', 'has_children',
       'education', 'occupation', 'income', 'car', 'Bar', 'CoffeeHouse',
       'CarryAway', 'RestaurantLessThan20', 'Restaurant20To50',
       'toCoupon_GEQ5min', 'toCoupon_GEQ15min', 'toCoupon_GEQ25min',
       'direction_same', 'direction_opp', 'Y', 'row_count'],
      dtype='object')

In [9]:
df['age'] = pd.to_numeric(df['age'], errors='coerce')

In [10]:
df[df['age']>=20] # SELECT * FROM dataset_1 d WHERE d.age >= 20;

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y,row_count
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,0,0,0,1,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,0,0,0,1,0,2
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,1,3
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,0,4
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12679,Home,Partner,Rainy,55,6PM,Carry out & Take away,1d,Male,26.0,Single,...,1~3,4~8,1~3,1,0,0,1,0,1,12680
12680,Work,Alone,Rainy,55,7AM,Carry out & Take away,1d,Male,26.0,Single,...,1~3,4~8,1~3,1,0,0,0,1,1,12681
12681,Work,Alone,Snowy,30,7AM,Coffee House,1d,Male,26.0,Single,...,1~3,4~8,1~3,1,0,0,1,0,0,12682
12682,Work,Alone,Snowy,30,7AM,Bar,1d,Male,26.0,Single,...,1~3,4~8,1~3,1,1,1,0,1,0,12683
12683,Work,Alone,Sunny,80,7AM,Restaurant(20-50),2h,Male,26.0,Single,...,1~3,4~8,1~3,1,0,0,1,0,0,12684

In [11]:
df['age'].unique()

array([21., 46., 26., 31., 41., nan, 36.])

In [12]:
home = df[df['destination'] == 'Home'].sort_values('coupon', ascending=False)
home # SELECT * from dataset_1 d WHERE d.destination ='Home' ORDER BY coupon DESC

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y,row_count
6527,Home,Alone,Sunny,80,6PM,Restaurant(<20),2h,Male,NaN,Single,...,1~3,gt8,4~8,1,0,0,1,0,1,6528
10748,Home,Alone,Snowy,30,10PM,Restaurant(<20),2h,Female,41.0,Married partner,...,4~8,4~8,4~8,1,1,1,0,1,0,10749
11315,Home,Partner,Sunny,30,6PM,Restaurant(<20),1d,Male,36.0,Unmarried partner,...,gt8,gt8,1~3,1,1,1,0,1,1,11316
10765,Home,Alone,Snowy,30,10PM,Restaurant(<20),2h,Female,31.0,Unmarried partner,...,less1,1~3,less1,1,1,1,0,1,0,10766
5532,Home,Alone,Sunny,80,6PM,Restaurant(<20),2h,Female,NaN,Single,...,less1,less1,1~3,1,0,0,1,0,1,5533
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8556,Home,Alone,Sunny,80,6PM,Bar,2h,Female,36.0,Unmarried partner,...,gt8,gt8,1~3,1,0,0,1,0,0,8557
8577,Home,Alone,Sunny,80,6PM,Bar,2h,Female,21.0,Married partner,...,1~3,1~3,1~3,1,0,0,1,0,0,8578
8600,Home,Alone,Sunny,80,6PM,Bar,2h,Female,21.0,Unmarried partner,...,less1,1~3,never,1,0,0,1,0,0,8601
8621,Home,Alone,Sunny,80,6PM,Bar,2h,Female,NaN,Married partner,...,NaN,4~8,4~8,1,0,0,1,0,1,8622
7388,Home,Alone,Sunny,80,6PM,Bar,2h,Male,NaN,Unmarried partner,...,1~3,1~3,less1,1,0,0,1,0,0,7389

In [13]:
df['destination'] =='Home' #This returns a Boolean Series (True/False for each row)

0        False
1        False
2        False
3        False
4        False
         ...
12679     True
12680    False
12681    False
12682    False
12683    False
Name: destination, Length: 12684, dtype: bool

In [14]:
df[df['destination'] == 'Home'].sort_values('coupon').head(5)

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y,row_count
13,Home,Alone,Sunny,55,6PM,Bar,1d,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,0,0,1,0,1,14
6833,Home,Alone,Sunny,55,6PM,Bar,2h,Male,26.0,Married partner,...,less1,1~3,less1,1,1,0,1,0,0,6834
6855,Home,Alone,Sunny,55,6PM,Bar,2h,Female,46.0,Married partner,...,less1,less1,never,1,1,0,1,0,0,6856
6874,Home,Alone,Sunny,55,6PM,Bar,2h,Female,NaN,Single,...,1~3,1~3,never,1,1,0,1,0,0,6875
6896,Home,Partner,Rainy,55,10PM,Bar,1d,Female,21.0,Unmarried partner,...,4~8,1~3,1~3,1,1,0,0,1,0,6897

In [15]:
df[(df['destination'] == 'Home') & (df['coupon'] == 'Bar')].head(4)

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y,row_count
13,Home,Alone,Sunny,55,6PM,Bar,1d,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,0,0,1,0,1,14
35,Home,Alone,Sunny,55,6PM,Bar,1d,Male,21.0,Single,...,4~8,4~8,less1,1,0,0,1,0,1,36
57,Home,Alone,Sunny,55,6PM,Bar,1d,Male,46.0,Single,...,1~3,1~3,never,1,0,0,1,0,0,58
79,Home,Alone,Sunny,55,6PM,Bar,1d,Male,46.0,Married partner,...,1~3,1~3,less1,1,0,0,1,0,1,80

In [16]:
destination = df['destination'] == 'destination'

In [17]:
destination

0        False
1        False
2        False
3        False
4        False
         ...
12679    False
12680    False
12681    False
12682    False
12683    False
Name: destination, Length: 12684, dtype: bool

In [18]:
df[['destination']] # SELECT destination as 'destination' from dataset_1 d

           destination
0      No Urgent Place
1      No Urgent Place
2      No Urgent Place
3      No Urgent Place
4      No Urgent Place
...                ...
12679             Home
12680             Work
12681             Work
12682             Work
12683             Work

[12684 rows x 1 columns]

In [35]:
df.groupby('occupation')['occupation'].unique().head(4)
#SELECT occupation from dataset_1 d GROUP by d.occupation

occupation
Architecture & Engineering                                  [Architecture & Engineering]
Arts Design Entertainment Sports & Media      [Arts Design Entertainment Sports & Media]
Building & Grounds Cleaning & Maintenance    [Building & Grounds Cleaning & Maintenance]
Business & Financial                                              [Business & Financial]
Name: occupation, dtype: object

In [20]:
df.groupby('weather')['temperature'].mean().reset_index(name='AVG_Temp')
#SELECT weather, AVG(temperature) as AVG_Temp from dataset_1 d GROUP by d.weather

  weather   AVG_Temp
0   Rainy  55.000000
1   Snowy  30.000000
2   Sunny  68.946271

In [21]:
df.groupby('weather')['temperature'].count().reset_index(name='AVG_TEMP')
#SELECT weather, COUNT(temperature) as AVG_Temp from dataset_1 d GROUP by d.weather

  weather  AVG_TEMP
0   Rainy      1210
1   Snowy      1405
2   Sunny     10069

In [22]:
df.groupby('weather')['temperature'].unique().reset_index(name='Distinc_TEMP')
#SELECT weather, COUNT(DISTINCT temperature) as AVG_Temp from dataset_1 d GROUP by d.weather

  weather  Distinc_TEMP
0   Rainy          [55]
1   Snowy          [30]
2   Sunny  [55, 80, 30]

In [23]:
df.groupby('weather')['temperature'].nunique().reset_index(name='Distinc_TEMP')
#SELECT weather, COUNT(DISTINCT temperature) as AVG_Temp from dataset_1 d GROUP by d.weather

  weather  Distinc_TEMP
0   Rainy             1
1   Snowy             1
2   Sunny             3

In [24]:
df.groupby('weather')['temperature'].sum().reset_index(name='SUM_Temp')
#SELECT weather, SUM(temperature) as SUM_Temp from dataset_1 d GROUP by d.weather

  weather  SUM_Temp
0   Rainy     66550
1   Snowy     42150
2   Sunny    694220

In [25]:
df.groupby('weather')['temperature'].min().reset_index(name='MIN_TEMP')
#SELECT weather, MIN(temperature) as MIN_Temp from dataset_1 d GROUP by d.weather

  weather  MIN_TEMP
0   Rainy        55
1   Snowy        30
2   Sunny        30

In [26]:
df.groupby('weather')['temperature'].max().reset_index(name='MAX_TEMP')
#SELECT weather, SUM(temperature) as SUM_Temp from dataset_1 d GROUP by d.weather

  weather  MAX_TEMP
0   Rainy        55
1   Snowy        30
2   Sunny        80

In [40]:
df.groupby('weather')['temperature'].max().to_frame('max_temp').reset_index()

  weather  max_temp
0   Rainy        55
1   Snowy        30
2   Sunny        80

In [27]:
df[1:11] # same like this df.head(10)

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y,row_count
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,0,0,0,1,0,2
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,1,3
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,0,4
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,0,5
5,No Urgent Place,Friend(s),Sunny,80,6PM,Restaurant(<20),2h,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,1,6
6,No Urgent Place,Friend(s),Sunny,55,2PM,Carry out & Take away,1d,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,1,7
7,No Urgent Place,Kid(s),Sunny,80,10AM,Restaurant(<20),2h,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,1,8
8,No Urgent Place,Kid(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,1,9
9,No Urgent Place,Kid(s),Sunny,80,10AM,Bar,1d,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,0,10
10,No Urgent Place,Kid(s),Sunny,80,2PM,Restaurant(<20),1d,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,0,0,0,1,1,11

In [28]:
df.sort_values('coupon').head(5) #order by coupon

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y,row_count
11702,Home,Partner,Sunny,30,10PM,Bar,2h,Female,NaN,Married partner,...,4~8,1~3,less1,1,1,1,0,1,0,11703
9930,No Urgent Place,Alone,Snowy,30,2PM,Bar,1d,Female,21.0,Single,...,gt8,gt8,4~8,1,0,0,0,1,0,9931
10632,Home,Alone,Rainy,55,6PM,Bar,1d,Male,21.0,Single,...,gt8,less1,less1,1,1,1,0,1,0,10633
7997,No Urgent Place,Friend(s),Rainy,55,10PM,Bar,2h,Male,26.0,Unmarried partner,...,4~8,never,1~3,1,1,0,0,1,1,7998
11166,Work,Alone,Snowy,30,7AM,Bar,1d,Female,41.0,Married partner,...,gt8,1~3,less1,1,1,1,0,1,0,11167

In [31]:
df.rename(columns={'destination':'Destination'},inplace=True)
#SELECT destination as Destination FROM dataset_1

In [32]:
df

,Destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y,row_count
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,0,0,0,1,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,0,0,0,1,0,2
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,1,3
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,0,4
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12679,Home,Partner,Rainy,55,6PM,Carry out & Take away,1d,Male,26.0,Single,...,1~3,4~8,1~3,1,0,0,1,0,1,12680
12680,Work,Alone,Rainy,55,7AM,Carry out & Take away,1d,Male,26.0,Single,...,1~3,4~8,1~3,1,0,0,0,1,1,12681
12681,Work,Alone,Snowy,30,7AM,Coffee House,1d,Male,26.0,Single,...,1~3,4~8,1~3,1,0,0,1,0,0,12682
12682,Work,Alone,Snowy,30,7AM,Bar,1d,Male,26.0,Single,...,1~3,4~8,1~3,1,1,1,0,1,0,12683
12683,Work,Alone,Sunny,80,7AM,Restaurant(20-50),2h,Male,26.0,Single,...,1~3,4~8,1~3,1,0,0,1,0,0,12684

In [36]:
df.groupby('occupation').size().to_frame('Count').reset_index()

                                   occupation  Count
0                  Architecture & Engineering    175
1    Arts Design Entertainment Sports & Media    629
2   Building & Grounds Cleaning & Maintenance     44
3                        Business & Financial    544
4                 Community & Social Services    241
5                     Computer & Mathematical   1408
6                   Construction & Extraction    154
7                  Education&Training&Library    943
8                  Farming Fishing & Forestry     43
9          Food Preparation & Serving Related    298
10       Healthcare Practitioners & Technical    244
11                         Healthcare Support    242
12          Installation Maintenance & Repair    133
13                                      Legal    219
14               Life Physical Social Science    170
15                                 Management    838
16            Office & Administrative Support    639
17                    Personal Care & Service    175
18                     Production Occupations    110
19                         Protective Service    175
20                                    Retired    495
21                            Sales & Related   1093
22                                    Student   1584
23           Transportation & Material Moving    218
24                                 Unemployed   1870

In [37]:
df['occupation'].value_counts().reset_index(name='Count').rename(columns={'index': 'occupation'})

                                   occupation  Count
0                                  Unemployed   1870
1                                     Student   1584
2                     Computer & Mathematical   1408
3                             Sales & Related   1093
4                  Education&Training&Library    943
5                                  Management    838
6             Office & Administrative Support    639
7    Arts Design Entertainment Sports & Media    629
8                        Business & Financial    544
9                                     Retired    495
10         Food Preparation & Serving Related    298
11       Healthcare Practitioners & Technical    244
12                         Healthcare Support    242
13                Community & Social Services    241
14                                      Legal    219
15           Transportation & Material Moving    218
16                 Architecture & Engineering    175
17                    Personal Care & Service    175
18                         Protective Service    175
19               Life Physical Social Science    170
20                  Construction & Extraction    154
21          Installation Maintenance & Repair    133
22                     Production Occupations    110
23  Building & Grounds Cleaning & Maintenance     44
24                 Farming Fishing & Forestry     43

In [49]:
df.groupby('occupation').filter(lambda x: x['occupation'].iloc[0] == 'Student').groupby('occupation').size()

occupation
Student    1584
dtype: int64

In [50]:
df[df['occupation'] == 'Student']
#SELECT occupation FROM dataset_1 GROUP BY occupation HAVING occupation='Student'

,Destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y,row_count
44,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Male,46.0,Single,...,1~3,1~3,never,1,0,0,0,1,1,45
45,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Male,46.0,Single,...,1~3,1~3,never,1,0,0,0,1,1,46
46,No Urgent Place,Friend(s),Sunny,80,10AM,Bar,1d,Male,46.0,Single,...,1~3,1~3,never,1,0,0,0,1,0,47
47,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Male,46.0,Single,...,1~3,1~3,never,1,1,0,0,1,1,48
48,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Male,46.0,Single,...,1~3,1~3,never,1,0,0,0,1,1,49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12585,Work,Alone,Rainy,55,7AM,Carry out & Take away,1d,Male,21.0,Single,...,1~3,1~3,less1,1,0,0,0,1,0,12586
12586,Work,Alone,Snowy,30,7AM,Coffee House,1d,Male,21.0,Single,...,1~3,1~3,less1,1,0,0,1,0,0,12587
12587,Work,Alone,Snowy,30,7AM,Restaurant(<20),1d,Male,21.0,Single,...,1~3,1~3,less1,1,1,0,0,1,0,12588
12588,Work,Alone,Snowy,30,7AM,Bar,1d,Male,21.0,Single,...,1~3,1~3,less1,1,1,1,0,1,0,12589
12589,Work,Alone,Sunny,80,7AM,Restaurant(20-50),2h,Male,21.0,Single,...,1~3,1~3,less1,1,0,0,1,0,0,12590

In [55]:
df[df['occupation'] == 'Student'].groupby('occupation').size()
#SELECT occupation FROM dataset_1 GROUP BY occupation HAVING occupation='Student'

occupation
Student    1584
dtype: int64

In [56]:
df['occupation'].value_counts().loc['Student']

np.int64(1584)

In [77]:
df[df['passanger'] == 'Alone'][['Destination', 'passanger']]
#SELECT destination ,passanger FROM dataset_1 WHERE passanger = 'Alone'

           Destination passanger
0      No Urgent Place     Alone
13                Home     Alone
14                Home     Alone
15                Home     Alone
16                Work     Alone
...                ...       ...
12676             Home     Alone
12680             Work     Alone
12681             Work     Alone
12682             Work     Alone
12683             Work     Alone

[7305 rows x 2 columns]

In [76]:
df.columns

Index(['Destination', 'passanger', 'weather', 'temperature', 'time', 'coupon',
       'expiration', 'gender', 'age', 'maritalStatus', 'has_children',
       'education', 'occupation', 'income', 'car', 'Bar', 'CoffeeHouse',
       'CarryAway', 'RestaurantLessThan20', 'Restaurant20To50',
       'toCoupon_GEQ5min', 'toCoupon_GEQ15min', 'toCoupon_GEQ25min',
       'direction_same', 'direction_opp', 'Y', 'row_count'],
      dtype='object')

In [78]:
df[df[['Destination', 'passanger']]['passanger'] == 'Alone']
#SELECT destination ,passanger FROM dataset_1 WHERE passanger = 'Alone'

,Destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y,row_count
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,0,0,0,1,1,1
13,Home,Alone,Sunny,55,6PM,Bar,1d,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,0,0,1,0,1,14
14,Home,Alone,Sunny,55,6PM,Restaurant(20-50),1d,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,1,15
15,Home,Alone,Sunny,80,6PM,Coffee House,2h,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,0,0,0,1,0,16
16,Work,Alone,Sunny,55,7AM,Coffee House,2h,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,1,1,0,1,1,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12676,Home,Alone,Sunny,80,6PM,Restaurant(20-50),1d,Male,26.0,Single,...,1~3,4~8,1~3,1,0,0,1,0,1,12677
12680,Work,Alone,Rainy,55,7AM,Carry out & Take away,1d,Male,26.0,Single,...,1~3,4~8,1~3,1,0,0,0,1,1,12681
12681,Work,Alone,Snowy,30,7AM,Coffee House,1d,Male,26.0,Single,...,1~3,4~8,1~3,1,0,0,1,0,0,12682
12682,Work,Alone,Snowy,30,7AM,Bar,1d,Male,26.0,Single,...,1~3,4~8,1~3,1,1,1,0,1,0,12683
12683,Work,Alone,Sunny,80,7AM,Restaurant(20-50),2h,Male,26.0,Single,...,1~3,4~8,1~3,1,0,0,1,0,0,12684

In [80]:
df[df['weather'].str.startswith('Sun')].head(4)
#SELECT * FROM dataset_1 WHERE weather LIKE 'Sun%'

,Destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y,row_count
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,0,0,0,1,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,0,0,0,1,0,2
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,1,3
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,0,4

In [84]:
df[(df['temperature'] >= 29) & (df['temperature'] <= 75)]['temperature'].unique()
#SELECT DISTINCT temperature FROM dataset_1 WHERE temperature BETWEEN 29 AND 75

array([55, 30])

In [85]:
df[df['temperature'].between(29, 75)]['temperature'].unique()
#SELECT DISTINCT temperature FROM dataset_1 WHERE temperature BETWEEN 29 AND 75

array([55, 30])

In [88]:
df.loc[df['temperature'].between(29, 75)]
#SELECT DISTINCT temperature FROM dataset_1 WHERE temperature BETWEEN 29 AND 75

,Destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y,row_count
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,0,0,0,1,1,1
6,No Urgent Place,Friend(s),Sunny,55,2PM,Carry out & Take away,1d,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,1,7
11,No Urgent Place,Kid(s),Sunny,55,2PM,Restaurant(<20),1d,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,1,12
12,No Urgent Place,Kid(s),Sunny,55,6PM,Coffee House,2h,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,1,13
13,Home,Alone,Sunny,55,6PM,Bar,1d,Female,21.0,Unmarried partner,...,NaN,4~8,1~3,1,0,0,1,0,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12678,Home,Partner,Sunny,30,10PM,Restaurant(<20),2h,Male,26.0,Single,...,1~3,4~8,1~3,1,1,0,1,0,0,12679
12679,Home,Partner,Rainy,55,6PM,Carry out & Take away,1d,Male,26.0,Single,...,1~3,4~8,1~3,1,0,0,1,0,1,12680
12680,Work,Alone,Rainy,55,7AM,Carry out & Take away,1d,Male,26.0,Single,...,1~3,4~8,1~3,1,0,0,0,1,1,12681
12681,Work,Alone,Snowy,30,7AM,Coffee House,1d,Male,26.0,Single,...,1~3,4~8,1~3,1,0,0,1,0,0,12682
12682,Work,Alone,Snowy,30,7AM,Bar,1d,Male,26.0,Single,...,1~3,4~8,1~3,1,1,1,0,1,0,12683

In [89]:
df.loc[df['temperature'].between(29, 75), 'temperature'].unique()
#SELECT DISTINCT temperature FROM dataset_1 WHERE temperature BETWEEN 29 AND 75

array([55, 30])

In [91]:
#SELECT occupation FROM dataset_1 WHERE occupation IN('Sales & Related','Management')
df[df['occupation'].isin(['Sales & Related','Management'])][['occupation']]

            occupation
193    Sales & Related
194    Sales & Related
195    Sales & Related
196    Sales & Related
197    Sales & Related
...                ...
12679  Sales & Related
12680  Sales & Related
12681  Sales & Related
12682  Sales & Related
12683  Sales & Related

[1931 rows x 1 columns]