# conditional statement
- if 
- else
- nested if 
- if elif else

In [4]:
if True: 
    print('Data Science')

Data Science

In [5]:
if False:
    print('Data Science')
print('bye for now')

bye for now

In [6]:
if True:
    print('Data Science')
print('bye for now')

Data Science
bye for now

In [10]:
if True:
    print('Data Science')
else:
    print('bye for now')

Data Science

In [11]:
if False:
    print('Data Science job')
else:
    print('no job')

no job

In [12]:
x = 4 
r = x % 2 

if r == 0:
    print('Even number')

Even number

In [13]:
x = 5
r = x % 2 

if r == 0:
    print('Even number')

In [14]:
x = 5
r = x % 2 

if r != 0:
    print('Odd number')

Odd number

In [17]:
x = 7
r = x % 2 

if r == 1:
    print('Odd number')

Odd number

In [18]:
x = 5
r = x % 2 

if r == 0:
    print('Even number')
    
print('odd number')

odd number

In [19]:
x = 4
r = x % 2 

if r == 0:
    print('Even number')
    
print('odd number')

Even number
odd number

In [21]:
x = 9
r = x % 2 

if r == 0:
    print('Even number')
    
if r == 1:
    print('odd number')

odd number

In [23]:
x = 8
r = x % 2 

if r == 0:
    print('Even number')
    
else:
    print('odd number')

Even number

In [25]:
x = 9
r = x % 2 

if r !=  0:
    print('odd number')
    
else:
    print('even number')

odd number

In [26]:
x = 3
r = x % 2

if r == 0:
    print('Even number')
    if x>5:
        print('greater number')

else:
    print('Odd Number')

Odd Number

In [27]:
x = 4
r = x % 2

if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')

else:
    print('Odd Number')

Even number

In [28]:
x = 4
r = x % 2

if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')
    else:
        print('lesser number')

else:
    print('Odd Number')

Even number
lesser number

In [30]:
x = 13
r = x % 2

if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')
    else:
        print('lesser number')

else:
    print('Odd Number')

Odd Number

In [33]:
x = 3

if x == 1:
    print('one')
if x == 2:
    print('Two')
if x == 3:
    print('Three')
if x == 4:
    print('four')

Three

In [ ]:
x = 1

if x == 1:
    print('one')
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('four')

In [34]:
x = 5

if x == 1:
    print('one')
    
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('four')

else:
    print('number not found')

number not found

In [36]:
age = 19
if age > 18: print("Eligible to Vote.")

Eligible to Vote.

# 10th ( LOOPS IN PYTHON )

In [38]:
print('ds')
print('ds')
print('ds')
print('ds')
print('ds')

ds
ds
ds
ds
ds

In [2]:
i = 1          # initializing

while i<=5:    # condition
    print('data science')
    i = i + 1  # increment

data science
data science
data science
data science
data science

In [3]:
i = 5          # initializing

while i>=1:    # condition
    print('data science')
    i = i - 1  # decrement

data science
data science
data science
data science
data science

In [41]:
i = 1         # initializing
while i<=5:    # condition
    print('data science : ', i)
    i = i + 1  # increment

data science :  1
data science :  2
data science :  3
data science :  4
data science :  5

In [4]:
i = 5          # initializing

while i>=1:    # condition
    print('data science :', i)
    i = i - 1  # decrement

data science : 5
data science : 4
data science : 3
data science : 2
data science : 1

In [1]:
i = 1

while i<=5:
    print('data science') # when we mention end then new line will not create
    j = 1
    while j<=4:
        print('technology')
        j = j + 1
        
    i = i + 1
    print()
    
    # the output which we got is very lengty but how to make them one line lets refer to below code

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [44]:
i = 1
while i<=5:
    print(' datascience', end = "") # when we mention end then new line will not create
    j = 1
    while j<=4:
        print(' technology', end="")
        j = j + 1
        
    i = i + 1
    print()

 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology

In [45]:
# lets use while loop usig some numbers
i = 1

while i <= 2 :
    j = 0
    while  j <= 2 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2
0 2 4

In [48]:
# lets use while loop usig some numbers
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [55]:
# lets use while loop usig some numbers
i = 10

while i <= 4 :
    j = 1
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
         
    print()
    i += 1
    
else:
    print('condition is not match')

condition is not match

# for loop

In [57]:
name = 'nit'

for i in name:
    print(i)

n
i
t

In [58]:
name1 = [1, 3.5,'hallo'] 

for i in name1:
    print(i)

1
3.5
hallo

In [59]:
range(5)

range(0, 5)

In [60]:
for i in range(5):
    print(i)

0
1
2
3
4

In [61]:
for i in range(10,50,5):
    print(i)

10
15
20
25
30
35
40
45

In [65]:
# print the value which is divisible by 5 
for i in range(1,31):
    
    if i%3 == 0 :
        print(i)

3
6
9
12
15
18
21
24
27
30

# BREAK, CONTINUE, PASS

In [66]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [72]:
for i in range(1,11):
    if i == 4: 
       break 
    print(i)

1
2
3

In [73]:
for i in range(1,11):
    if i == 4: 
       continue 
    print(i)

1
2
3
5
6
7
8
9
10

In [74]:
for i in range(1,11):

SyntaxError: incomplete input (1334445784.py, line 1)

In [76]:
for i in range(1,11):
    pass

In [80]:
x = int(input('How many choclets you want:?'))

i = 1
while i<=x:
    print('choclet :', i)
    i += 1

How many choclets you want:? 3

choclet : 1
choclet : 2
choclet : 3

In [82]:
ava = 5 # the machine has only 5 choclet 

x = int(input('How many choclets you want:?'))

i = 1
while i<=x:
    print('choclet:', i)
    i += 1

How many choclets you want:? 10

choclet: 1
choclet: 2
choclet: 3
choclet: 4
choclet: 5
choclet: 6
choclet: 7
choclet: 8
choclet: 9
choclet: 10

In [84]:
available_choclet = 5 # the machine has only 10 candis 

x = int(input('How many choclets user want:?'))

i = 1
while i<=x:
    
    if i>available_choclet: # we stop the execution but which code execution not entire code , i want to come out of while loop 
        break # break is statement | means jump out of the loop
    print('choclet')
    i += 1   
    
print('bye for now ')

How many choclets user want:? 4

choclet
choclet
choclet
choclet
bye for now

In [87]:
available_choclet = 5 # the machine has only 10 candis 

x = int(input('How many choclets you want:?'))

i = 1
while i<=x:
    
    if i>available_choclet: # we stop the execution but which code execution not entire code , i want to come out of while loop 
        print('out of stock')
        break # break is statement | means jump out of the loop
    print('choclet:', i)
    i += 1   
    
print('bye for now')

How many choclets you want:? 8

choclet: 1
choclet: 2
choclet: 3
choclet: 4
choclet: 5
out of stock
bye for now

In [88]:
for i in range(1,51):
    
    if i%3 == 0:
    
        print(i)
print('end')

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
end

In [89]:
for i in range(1,51):
    
    if i%3 == 0:
        continue
    print(i)
print('end')

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
end

In [90]:
for i in range(1,51): 
    
    if i%3 == 0 or i%5 == 0:
        
        continue
    print(i)
#print('end')    
# it will skip all the value which is divisible by 3 or 5

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49

In [91]:
nums = [12,15,18,21,26, 30,40]

for num in nums:
    if num % 5 == 0:
        print(num)

15
30
40

In [100]:
nums = [12,5,15,18,21,26, 30,40]

for num in nums:
    if num % 5 == 0:
        print(num)
        #break

5
15
30
40

In [102]:
nums = [12,18,21,26]

for num in nums:
    if num % 5 == 0:
        print(num)
        break

In [103]:
nums = [12,18,21,26]

for num in nums:
    if num % 5 == 0:
        print(num)
        #break

else:
    print('number not found')

number not found

In [105]:
nums = [12,18,21,26,15]

for num in nums:
    if num % 5 == 0:
        print(num)
        break

else:
    print('number not found')

15